# Exercise 1 

Consider the `insurance.csv`. This file contains information related customers' demographis and insurance premium. The goal is to build models to predict insurance premiums. 

### Exercise 1(a) (3 points) 

Load the necessary libraries to build three models: `RandomForestRegressor`, `GrandientBoostingRegressor`, and `ExtraTreesRegressor` and evaluate their out-of-sample performance (using `mean_squared_error`) over five folds.

In [6]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold, cross_val_score

### Exercise 1(b) (2 points)

Read the `insurance.csv` file and create a data-frame called `df`.

In [8]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Exercise 1(c) (3 points)

Define the input (all variables but `charges`) and target variables. 0-1 encode the categorical features using `get_dummies`. Also, define the 5-fold cross valudation strategy.

In [9]:
x = df.drop('charges', axis=1)
x = pd.get_dummies(columns=['sex', 'smoker', 'region'], data=x, drop_first=True, dtype=int)

y = df['charges']

kf = KFold(n_splits=5, shuffle=True, random_state=42)

x.head()

,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,1
1,18,33.770,1,1,0,0,1,0
2,28,33.000,3,1,0,0,1,0
3,33,22.705,0,1,0,1,0,0
4,32,28.880,0,1,0,1,0,0

### Exercise 1(d) (4 points)

Report the out-of-sample performance of `RandomForestRegressor(n_estimators=100, random_state=42)` over the 5-fold cross-validation strategy. Use the `mean_squared_error` as performance metric.

In [10]:
RF_md = RandomForestRegressor(n_estimators=100, random_state=42)
RF_cv = cross_val_score(RF_md, x, y, cv=kf, scoring='neg_mean_squared_error')

print(f'Random Forest 5 fold oof MSE: {-1*RF_cv.mean()}')

Random Forest 5 fold oof MSE: 23911110.04484569

### Exercise 1(e) (4 points)

Report the out-of-sample performance of `ExtraTreesRegressor(n_estimators=100, random_state=42)` over the 5-fold cross-validation strategy. Use the `mean_squared_error` as performance metric.

In [11]:
ET_md = ExtraTreesRegressor(n_estimators=100, random_state=42)
ET_cv = cross_val_score(ET_md, x, y, cv=kf, scoring='neg_mean_squared_error')

print(f'Extra Trees 5 fold oof MSE: {-1*ET_cv.mean()}')

Random Forest 5 fold oof MSE: 26572640.19351078

### Exercise 1(f) (4 points)

Report the out-of-sample performance of `GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)` over the 5-fold cross-validation strategy. Use the `mean_squared_error` as performance metric.

In [12]:
GB_md = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
GB_cv = cross_val_score(GB_md, x, y, cv=kf, scoring='neg_mean_squared_error')

print(f'Gradient boosting 5 fold oof MSE: {-1*GB_cv.mean()}')

Gradient boosting 5 fold oof MSE: 20995812.06997145

### Exercise 1(g) (2 points)

What model would you use to predict `charges`? Be specific.

Based on my results I would use the gradient boosing model because it had the lowest MSE

### Exercise 1(h) (8 points)

Refactor the code from parts 1(a) to 1(f) into a Python script to log the experiments in `mlflow`.